.homePage{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  .homePageBody{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  }
}

.blurBackground{
  filter: blur(5px);
}

.chatContainer{
  margin-top: 4%;
  margin-bottom: 7%;
  height: 95%;
  min-height: 500px;
  max-height: 600px;
  width: 70%;
  max-width: 1500px;
  border-radius: 10px;
  background-color: $primaryColor
}

.messagesContainer{
  height: 85%;
  width: 100%;
  border-bottom: 1px solid $secondary-color;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;

  .fromAdaContainer{
    display: flex;
    justify-content: start;
    width: 97%;
  }
  .fromMeContainer{
    display: flex;
    justify-content: end;
    width: 92%;
  }

  p {
    border-radius: 1.15rem;
    line-height: 1.25;
    max-width: 75%;
    padding: 0.5rem .875rem;
    position: relative;
    word-wrap: break-word;
    font-size: 20px;
  }

  p::before,
  p::after {
    bottom: -0.1rem;
    content: "";
    height: 1rem;
    position: absolute;
  }

  p.from-me {
    align-self: flex-end;
    background-color: $message-me-color;
    color: black;
  }

  p.from-me::before {
    border-bottom-left-radius: 0.8rem 0.7rem;
    border-right: 1rem solid $message-me-color;
    right: -0.35rem;
    transform: translate(0, -0.1rem);
  }

  p.from-me::after {
    background-color: $primaryColor;
    border-bottom-left-radius: 0.5rem;
    right: -40px;
    transform:translate(-30px, -2px);
    width: 10px;
  }

  p[class^="from-"] {
    margin: 0.5rem 0;
    width: fit-content;
  }

  p.from-me ~ p.from-me {
    margin: 0.25rem 0 0;
  }

  p.from-me ~ p.from-me:not(:last-child) {
    margin: 0.25rem 0 0;
  }

  p.from-me ~ p.from-me:last-child {
    margin-bottom: 0.5rem;
  }

  p.from-ada{
    align-items: flex-start;
    background-color: $message-ada-color;
    color: #000;
  }

  p.from-ada:before {
    border-bottom-right-radius: 0.8rem 0.7rem;
    border-left: 1rem solid $message-ada-color;
    left: -0.35rem;
    transform: translate(0, -0.1rem);
  }

  p.from-ada::after {
    background-color: $primaryColor;
    border-bottom-right-radius: 0.5rem;
    left: 20px;
    transform: translate(-30px, -2px);
    width: 10px;
  }

  p[class^="from-"].emoji {
    background: none;
    font-size: 2.5rem;
  }

  p[class^="from-"].emoji::before {
    content: none;
  }

  .no-tail::before {
    display: none;
  }

  .margin-b_none {
    margin-bottom: 0 !important;
  }

  .margin-b_one {
    margin-bottom: 1rem !important;
  }

  .margin-t_one {
    margin-top: 1rem !important;
  }
}

.bottomContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 15%;

  .errorMessage{
    color: red;
  }
}

.inputContainer{
  width: 100%;
  @include flex-centre;

  input{
    all: unset;
    background-color: darken($primaryColor, 15%);
    width: 80%;
    height: 35px;
    border-radius: 8px 0 0 8px;
    padding: 5px;
    font-size: 20px;
  }
}

.submitContainer{
  width: 5%;
  height: 35px;
  background-color: darken($primaryColor, 20%);
  border-radius: 0 8px 8px 0;
  padding: 5px;
  @include flex-centre;

  .submitIcon{
    font-size: 35px;
    transition: color 0.3s ease-out;
  }

  .invalidSubmitIcon{
    font-size: 35px;
    transition: color 0.3s ease-out;
    opacity: 30%;
  }
}

.submitContainer:hover > .submitIcon{
  color: white;
  cursor: pointer;
}

.chooseLangueContainer{
  position: absolute;
  width: 60%;
  height: 60%;
  border-radius: 12px;
  background-color: $box-message-background-color;
  //box-shadow: 10px 10px 5px lightblue;
  z-index: 10;
  margin: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;


  p{
    font-size: 30px;
    margin: 0;
  }

  .languages{
    display: flex;
    margin-top: 20px;
  }

  .lgButton{
    @include flex-centre;
    margin: 10px;
    height: 50px;
    width: 140px;
    color: white;
    border-radius: 10px;
    background-color: $secondary-color;
    transition: box-shadow 0.4s ease-out;
    cursor: pointer;
    overflow: hidden;
    @include flex-centre;

    p{
      font-size: 18px;
      padding: 40px;
      transition: padding 0.4s ease-out;
    }

    span{
      text-align: center;
      font-size: 18px;
    }
  }

  .lgButton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .lgButton:hover > p{
    padding: 3px;
  }

}

.from-ada{
  animation: writing 1s linear forwards;
}

.quotesContainer{
  margin: 15px;
  height: auto;
  padding: 10px;
  width: 60%;
  border-radius: 10px;
  background-color: $quotes-background-color;

  h2{
    text-align: center;
  }

  .warning{
    font-size: 12px;
    opacity: 50%;
  }

}

